:root {
  --gray-100: #f2f2f2;
  --gray-300: #808080;
  --gray-400: #333333;
  --gray-500: #262626;
  --gray-700: #0d0d0d;
  --gray-600: #1a1a1a;

  --blue: #4ea8de;
  --blue-dark: #1e6f9f;
  --blue-dark-hover: rgba(30, 111, 159, .2);
  --danger: #e25858;
  --purple: #8284FA;
  --purple-dark: #5e60ce;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, input, textarea, button {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 140%;
}

body {
  background: var(--gray-600);
  color: var(--gray-100);
  -webkit-font-smoothing: antialiased;
}