.button {
  background-color: transparent;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: grid;
  height: 1.5rem;
  place-items: center;
  width: 1.5rem;
}

.button svg {
  fill: var(--gray-300);
}

.button:hover {
  background-color: var(--gray-400);
}

.button:hover svg {
  fill: var(--danger);

}