.task {
  background: var(--gray-500);
  border: 1px solid var(--gray-400);
  border-radius: 8px;
  display: flex;
  align-items: flex-start;
  padding: 1rem;
  gap:.75rem ;
}

.task label {
  flex: 1;
  font-size: .875rem;
  word-break: break-all;
}

.done {
  text-decoration-line: line-through;
  color: var(--gray-300);
  font-weight: 400;
}